%position {
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-right: -50px;
    top: 0;
    height: 100%;
    font-size: 14px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
}
